body {
    background: whitesmoke;
    margin: auto;
    width: 50%;
}

h1 {
    font-family: Monaco, 'Lucida Console', monospace;
    padding: 2rem;
}

h3 {
    font-family: Monaco, 'Lucida Console', monospace;
}

p {
    font-family: 'Courier New', Courier, monospace;
    margin: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

a {
    color: green;
}

#post, #list-post, .intro {
    background: rgba(126, 181, 102, 0.2);
    border-style: dotted;
    border-radius: 2rem;
    margin: 1rem;
}

.intro {
    margin: auto;
    padding: 3rem;
}